@import 'tailwindcss';

@plugin "daisyui" {
  themes: coffee --default, bumblebee;
}
@plugin "@tailwindcss/typography";
@plugin "@headlessui/tailwindcss";

@utility main {
  @apply w-5/6 p-4 m-auto mt-8;
}

@utility section {
  @apply flex flex-col gap-6 p-6 border-4 border-primary rounded-sm bg-base-200;

  & h2 {
    @apply font-bold text-xl;
  }
  & h3 {
    @apply text-lg;
  }
}

@utility sheet {
  @apply bg-base-100 p-4 rounded-sm shadow-xs shadow-primary;
}

@utility list-item {
  @apply bg-secondary text-secondary-content border-accent border rounded-sm w-full flex;
}

@utility mask-half-card {
  @apply mask-half-1;
  mask-size: 400%;
}

@utility h-header {
  height: 4rem;
}

@utility h-main {
  height: calc(100vh - 4rem);
}

@utility min-h-main {
  min-height: calc(100vh - 4rem);
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply min-h-full bg-base-100 text-base-content;
  }
  h1 {
    @apply text-4xl mb-4;
  }
}

.ReactCollapse--collapse {
  transition: height 300ms;
}
