@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply w-5/6 p-4 m-auto mt-8;
  }

  .section {
    @apply flex flex-col gap-6 p-6 border-4 border-primary rounded bg-base-100;
  }

  .section h2 {
    @apply font-bold text-xl;
  }
  .section h3 {
    @apply text-lg;
  }

  .sheet {
    @apply bg-base-100 p-4 rounded shadow-sm shadow-primary;
  }
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply min-h-full bg-base-300 text-base-content;
  }
  h1 {
    @apply text-3xl mb-2;
  }
}

@layer utilities {
  .mask-half-card {
    @apply mask-half-1;
    mask-size: 400%;
  }
  .h-header {
    height: 4rem;
  }
  .h-main {
    height: calc(100vh - 4rem);
  }
  .min-h-main {
    min-height: calc(100vh - 4rem);
  }
}

.ReactCollapse--collapse {
  transition: height 300ms;
}
